<template>
  <Layout>
    <div class="space-y-32">
      <div class="">
        <!-- Main Hero -->
        <MainAboutMe />
        <!-- // -->

        <!-- Specialized -->
        <MainSpecialized />
        <!-- // -->
      </div>

      <!-- Skill -->
      <MainSkill />
      <!-- // -->

      <!-- Portfolio -->
      <MainProject />
      <!-- // -->

      <!-- Quick Contact -->
      <div class="container mx-auto">
        <div class="flex items-center justify-center">
          <div class="px-24 py-10 text-center bg-white space-y-2">
            <div class="text-xl">Have Any Project In Mind? <span class="text-red-500">Say Hello At</span></div>
            <div class="text-3xl font-light tracking-wider text-gray-500">
              anderi.setiawan@gmail.com
            </div>
          </div>
        </div>
      </div>
      <!-- // -->
    </div>
  </Layout>
</template>

<script>
import MainAboutMe from '~/components/MainAboutMe.vue';
import MainSpecialized from '../components/MainSpecialized.vue';
import MainSkill from '../components/MainSkill.vue';
import MainProject from '../components/MainProject.vue';
export default {
  components: {
    MainAboutMe,
    MainSpecialized,
    MainSkill,
    MainProject
},
  metaInfo: {
    title: 'Home'
  }
}
</script>