<template>
    <div class="container mx-auto relative">
        <div class="flex">
            <div class="">
                <div class="">
                    <g-image src="~/assets/img/photo2.png" class="w-[450px]" />
                </div>
                <div class="bg-white py-6 rounded-full flex items-center justify-center gap-8 shadow">
                    <button>
                        <g-image class="w-8 h-8" src="~/assets/icon/google.png" />
                    </button>
                    <button>
                        <g-image class="w-8 h-8" src="~/assets/icon/linked.png" />
                    </button>
                    <button>
                        <g-image class="w-8 h-8" src="~/assets/icon/telegram.png" />
                    </button>
                    <button>
                        <g-image class="w-8 h-8" src="~/assets/icon/facebook.png" />
                    </button>
                </div>
            </div>
            <div class="flex-1 flex items-center justify-end">
                <div class="max-w-3xl w-full">
                    <div class="text-4xl font-semibold uppercase">
                        Special Skils
                    </div>
                    <div class="bg-white p-16 space-y-10 mt-16">
                        <div class="flex items-center gap-6">
                            <g-image class="" src="~/assets/icon/iconchart.png" />
                            <div class="text-3xl font-semibold tracking-wider">Development</div>
                        </div>
                        <div class="text-lg leading-loose text-gray-500">
                            HTML/CSS,  Javascript, Python, Vue/React, Responsive, Static / Dinamis Web, Landing Pages
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>