<template>
    <div class="container mx-auto">
        <div class="flex items-center h-screen relative">
            <div class="absolute right-0 bottom-32">
                <div class="rounded-full py-5 w-72 bg-white translate-x-56">
                    <div class="flex items-center space-x-8 pl-10">
                        <button>
                            <g-image src="~/assets/icon/google.png" />
                        </button>
                        <button>
                            <g-image src="~/assets/icon/linked.png" />
                        </button>
                        <button>
                            <g-image src="~/assets/icon/telegram.png" />
                        </button>
                        <button>
                            <g-image src="~/assets/icon/facebook.png" />
                        </button>
                    </div>
                </div>
            </div>
            <g-image src="~/assets/img/photo1.png" class="absolute bottom-0 right-[30%] translate-x-[50%] w-[450px]" />
            <div class="max-w-2xl w-full space-y-10">
                <div class="uppercase font-medium text-xl tracking-wider">
                    <span class="text-red-500">Hello,</span> Im Anderi Setiawan
                </div>
                <div class="uppercase text-5xl font-semibold tracking-tight">
                    Full stack Web Developer
                </div>
                <div class="leading-loose text-lg text-gray-500 pr-24">
                    Experience more than 5 year develop responsive  web application using Python & Vue/React
                </div>
                <div class="flex items-center space-x-4">
                    <button class="text-center font-medium bg-red-500 rounded-full py-3 w-32 text-white shadow-md shadow-red-500">
                        Hire Me
                    </button>
                    <button class="text-center font-medium bg-white rounded-full py-3 w-32 text-red-500 border-2 border-red-500">
                        Get Cv
                    </button>
                </div>
            </div>
        </div>        
    </div>
</template>