<template>
    <div class="container mx-auto">
        <div class="bg-white py-28">
            <div class="text-center uppercase text-4xl font-semibold">
                <div class=" tracking-wider text-red-500 font-medium text-xl mb-4">
                    What I Do
                </div>
                Specializing In
            </div>
            <div class="grid grid-cols-2 gap-10 max-w-5xl w-full mx-auto mt-16">
                <div class="flex items-center space-x-6">
                    <g-image class="w-20 h-20" src="~/assets/icon/icon1.png" />
                    <div class="space-y-4">
                        <div class="font-medium text-xl">UI/UX</div>
                        <div class="text-gray-500 text-lg">
                            Landing Pages, User Flow, Prototyping
                        </div>
                    </div>
                </div>
                <div class="flex items-center space-x-6">
                    <g-image class="w-20 h-20" src="~/assets/icon/icon2.png" />
                    <div class="space-y-4">
                        <div class="font-medium text-xl">ICON/ILLUSTRATOR</div>
                        <div class="text-gray-500 text-lg">
                            Landing Pages, User Flow, Prototyping, Frontend
                        </div>
                    </div>
                </div>
                <div class="flex items-center space-x-6">
                    <g-image class="w-20 h-20" src="~/assets/icon/icon3.png" />
                    <div class="space-y-4">
                        <div class="font-medium text-xl">DATABASE DESIGN</div>
                        <div class="text-gray-500 text-lg">
                            Oracle, Postgres, MySql, MariaDB
                        </div>
                    </div>
                </div>
                <div class="flex items-center space-x-6">
                    <g-image class="w-20 h-20" src="~/assets/icon/icon4.png" />
                    <div class="space-y-4">
                        <div class="font-medium text-xl">DEVELOPMENT</div>
                        <div class="text-gray-500 text-lg">
                            HTML/CSS,  Javascript, Python, Vue/React, Responsive, Static / Dinamis Web
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>