<template>
    <div class="container mx-auto">
        <div class="bg-white flex items-center">
            <div class="text-center space-y-6 px-8">
                <div class="uppercase tracking-wider text-xl font-semibold text-red-500">
                    Portfolios
                </div>
                <div class="text-4xl uppercase font-semibold">
                    Latest Project
                </div>
                <div class="flex items-center justify-center">
                    <button class="font-medium bg-red-500 py-3 px-8 rounded-full shadow-md shadow-red-500 text-white">
                        My Portfolios
                    </button>
                </div>
            </div>
            <div class="flex-1 p-20">
                <g-image src="~/assets/img/project.png" class="w-full" />
            </div>
        </div>
    </div>
</template>