<template>
  <div class="">
    <slot />

   <!-- footer -->
   <footer class="mt-32">
    <div class="container mx-auto flex items-center py-4">
      <div class="bg-white px-8 py-4 rounded-full flex items-center justify-center gap-8 shadow">
          <button>
              <g-image class="w-8 h-8" src="~/assets/icon/google.png" />
          </button>
          <button>
              <g-image class="w-8 h-8" src="~/assets/icon/linked.png" />
          </button>
          <button>
              <g-image class="w-8 h-8" src="~/assets/icon/telegram.png" />
          </button>
          <button>
              <g-image class="w-8 h-8" src="~/assets/icon/facebook.png" />
          </button>
      </div>
      <div class="flex-1 text-xl space-x-28 flex items-center justify-end">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">PORTFOLIO</a>
        <a href="#">CONTACT</a>
      </div>
    </div>
   </footer>
   <!-- // -->

  </div>
</template>
